.section-dark {
    display: block;
  }
  .section-dark {
  background-color: #f4f5f7;
  color: #fff;
}
.section-dark {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-dark {
    display: block;
  }
  
  .w-hidden-small{display:none !important}
  .w-hidden-small{display:inherit !important}
  .w-hidden-tiny{display:none !important}
  .section-7 {
  display: none;
}
 .join {
    width: auto;
  }
  .join {
  width: 1140px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
 .form1-wrapper {
    padding-right: 5%;
    padding-left: 5%;
  }
  .form1-wrapper {
    padding-bottom: 0px;
  }
  .form1-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 4px;
  text-align: center;
}
.heading-3 {
  margin-top: 0px;
  font-family: 'Sf pro display', sans-serif;
  color: #1f2130;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

.heading-3.sponsor-heading {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.heading-3 {
    font-size: 24px;
    line-height: 34px;
  }
  
  .heading-3 {
    font-size: 21px;
    line-height: 31px;
  }
  
  .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.list.hero-list {
  margin-bottom: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.w-list-unstyled{padding-left:0;list-style:none}

.checked-item {
  padding-right: 10px;
  padding-left: 10px;
  color: #585b72;
}
.btn-big {
    height: 48px;
  }
  
  .btn-big {
    display: block;
    padding: 14px 25px;
    text-align: center;
  }
 .btn-big.btn-white {
    display: block;
  }
  
  .btn-big {
  display: inline-block;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 35px;
  float: none;
  border-radius: 4px;
  background-color: #5d3eff;
  -webkit-transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
}

.btn-big:hover {
  border-color: #0c6eb8;
  background-color: rgba(93, 62, 255, 0.88);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #fff;
}

.btn-big:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

.w-button{display:inline-block;padding:9px 15px;background-color:#3898EC;color:white;border:0;line-height:inherit;text-decoration:none;cursor:pointer;border-radius:0}

.wrap {
  display: block;
  width: 680px;
  min-height: 85vh;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #ebecee;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
}

.wrap.w50 {
  position: relative;
  width: 1140px;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #f0f2f6;
  text-align: left;
}

.wrap.w50.home {
  margin-bottom: 0px;
  padding: 20px 0px;
  border-style: none;
  background-color: transparent;
  box-shadow: none;
}

.section-block {
  display: block;
  margin-bottom: 20px;
}
.section-block.hidden {
  display: none;
}
 .heading-row {
    padding-right: 16px;
    padding-left: 16px;
  }
  
  .heading-row {
    display: block;
    padding-top: 0px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .heading-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 8px 16px 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.heading-9 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: 'Sf pro display', sans-serif;
  color: #1f2130;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  text-align: left;
}

.heading-9.tools-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: Circularstd, sans-serif;
  text-align: left;
}

.heading-9.tools-heading.has-sub {
  margin-bottom: 0px;
  font-family: Circularstd, sans-serif;
  font-size: 28px;
}

.heading-9.page-heading {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Circularstd, sans-serif;
  font-size: 19px;
  line-height: 29px;
}

.link-16 {
  margin-bottom: 0px;
  font-family: 'Circularstd book', sans-serif;
  color: #5d3eff;
  cursor: pointer;
}

.link-16:hover {
  color: #5d3eff;
}
.link-16 {
    color: #5d3eff;
  }
  
  .collection-list-wrapper-9 {
    padding-right: 8px;
    padding-left: 8px;
  }
  
   .collection-list-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .w-row{margin-left:-10px;margin-right:-10px}.w-row:before,.w-row:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-row:after{clear:both}.w-row .w-row{margin-left:0;margin-right:0}
  
  .w-row,.w-container .w-row{margin-left:0;margin-right:0}
  
  .collection-item-10 {
  margin-bottom: 10px;
  padding-left: 0px;
}

.collection-item-10 {
    width: 50%;
  }
  
  .w-col{position:relative;float:left;width:100%;min-height:1px;padding-left:10px;padding-right:10px}.w-col .w-col{padding-left:0;padding-right:0;}
  .collection-list-wrapper-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.collection-item-11 {
  margin-bottom: 10px;
  padding-left: 0px;
}

.collection-item-11 {
    width: 50%;
  }
  
  .collection-item-10 {
    width: 100%;
  }
  .podcast-meta {
  padding: 0px 0px 0px 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tool-title1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Circularstd book', sans-serif;
  color: #1f2130;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.tool-title1.title-podcast1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Circularstd book', sans-serif;
  font-weight: 700;
}
.tool-description {
  position: static;
  font-family: 'Circularstd book', sans-serif;
  color: #6e728f;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.image-16 {
  border-radius: 4px;
}

.podcast-wrapper {
    margin-bottom: 0px;
  }
  
  .podcast-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  padding: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ebecee;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
}.podcast-art {
  width: 60px;
  margin-right: 6px;
}
.collection-list-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .collection-list-wrapper-9 {
    padding-right: 8px;
    padding-left: 8px;
  }
